<!DOCTYPE html>
<html>
<head>
  <title>Housekeeping</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
	<body ng-app="housekeeping" >

		<div class="app" ng-controller="applicationController">
		  
			<!-- Navbars -->
			<div class="navbar navbar-app navbar-absolute-top">
				<div class="navbar-brand navbar-brand-center" yield-to="title">
					<span>Housekeeping</span>
					<% if user_signed_in? %>
						<span>(<%= current_user.telephone %>)</span>
					<% end %>
				</div>

				<div class="btn-group pull-left">
					<div class="btn btn-navbar">
						<% if user_signed_in? %>
							<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						<% end %>
					</div>
				</div>

				<% if @hasAdminPriveleges %>
					<div class="btn-group pull-right">
						<div ng-click="onRunRakeTaskClick()" class="btn btn-navbar">
							<span>Run Rake Task</span>
						</div>
					</div>
				<% end %>
			</div>

			

			<div class="navbar navbar-app navbar-absolute-bottom">
				<% if user_signed_in? %>
					<div class="btn-group justified">
						<a href="/#/scheduled" class="btn btn-navbar btn-icon-only">
							<i id="homeIcon" class="fa fa-navbar">&#8962;</i>
							<span class="home bottom-button" >My Appts</span>
						</a>
						<a href="/#/open" class="btn btn-navbar btn-icon-only">
							<i id="menuIcon" class="fa fa-navbar">&#9776;</i>
							<span class="bottom-button">Show Available</span>
						</a>
					</div>
				<% end %>
			</div>

			<div class="main-body">
				<% if !user_signed_in? %>
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				<% end %>
				<%= yield %>
			<div>

		</div>

	</body>
</html>